header.ant-layout-header {
    background: @dark;

    & .ant-row .ant-menu-horizontal {
        background: transparent;
        border: 0;

        & .ant-menu-title-content {
            color: @white;
            font-weight: 600;
        }
    }
}