header.ant-layout-header {
    background: @dark;

    & .ant-row .ant-menu-horizontal {
        background: transparent;
        border: 0;

        & .ant-menu-title-content {
            color: @white;
            font-weight: 600;
        }
    }
}

section.banner-home {
    min-height: 80vh;
    align-items: center;
    justify-content: center;

    & .ant-row:first-child {
        margin-bottom: 3rem;
    }

    & img.ant-image-img {
        border-radius: 50%;
        width: 300px;
        height: 300px;
    }
    
    & h1.ant-typography {
        text-align: center;
        font-size: 4.2rem;
        letter-spacing: 2px;
    }
}